.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    color: white;
    overflow-x: scroll;
}

/* Enlever la scrollbar pour Chrome, Safari et Opera */
.header::-webkit-scrollbar {
    display: none;
}

/* Enlever la scrollbar pour IE, Edge et Firefox */
.header {
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
}


.header__icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.header__icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 30px;
    cursor: pointer;
}

.header__icon > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: auto;
}

.header__icon > p {
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.header__icon:hover > p {
    display: inline-flex;
}

.header__icon--active > p {
    display: inline !important;
}

.header > img {
    object-fit: contain;
    height :80px;
}