.nav {
    display: flex;
    color: white;
    overflow-x: scroll;
    padding : 10px 10px 10px 40px;
}

/* Enlever la scrollbar pour Chrome, Safari et Opera */
.nav::-webkit-scrollbar {
    display: none;
}

/* Enlever la scrollbar pour IE, Edge et Firefox */
.nav {
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
}

.nav > h2 {
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    opacity: 0.7;
    transition: transform 50ms ease-out;
}

.nav > h2:hover {
    opacity: 1;
    transform: scale(1.2);
}
